
<div class="container">
<% @doctors.each do |doctor| %>
 
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
        <% if doctor.categories %>
        by <%= link_to doctor.name, doctor_path(doctor) %>
        <% doctor.categories.each do |category| %>
          
          <div class="mt-2"><%= render category%></div> 
           
          <% end %>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to doctor.name, doctor_path(doctor), class: "text-success" %></h5>
         
          <%= link_to "View", doctor_path(doctor), class: "btn btn-outline-success" %>
          <% if current_user.role == "admin" %>
            <%= link_to "Edit", edit_doctor_path(doctor), class: "btn btn-outline-info" %>
            <%= link_to "Delete", doctor_path(doctor), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(doctor.created_at) %> ago, 
          edited <%= time_ago_in_words(doctor.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>