
<h1 class="text-center mt-4"><%= @doctor.name %>'s profile</h1>

    <%= gravatar_for @doctor, size: 200 %>

<% if user_signed_in? && current_user.role = "admin" %>
    <div class="text-center mt-4">
        <%= link_to "Edit this profile", edit_doctor_path(@doctor), class: "btn btn-outline-info" %>
        <%= link_to "Delete user", doctor_path(@doctor), class: "btn btn-outline-danger", method: :delete,
        data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
    </div>
<% end %>
<div class="container">
<h3 class="text-center mt-4">Categories:</h3>
<div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
       <div class="row justify-content-center" >
        <%= render @categories %>
       </div>
      </div>
    </div>
   </div>
 </div>

 <div class="container">
     <h3 class="text-center mt-4">Appointments:</h3>
     <%= render @appointments %>
 </div>
 
   