<div class="row justify-content-center" >
   <div class="row col-10">
    <table class="table table-border table-hover">
      <thead class="thead-dark">
       <tr>
            <th scope="col">Номер записи</th>
            <th scope="col">Дата</th>
            <th scope="col">Причина</th>
            <th scope="col">Пациент</th>
            <th scope="col">Recomendation</th>
       </tr>
       </thead>
      <tbody>
       <% @appointments.each do |appointment| %>
            <tr>
                 <th scope="row"><%= appointment.id %></th>
                 <td><%= link_to appointment.data, appointment_path(appointment), class: "badge badge-pill badge-info mr-1" %></td>
                 <td><%= link_to appointment.content, appointment_path(appointment), class: "badge badge-pill badge-info mr-1" %></td>
                 <td><%= link_to appointment.user_id, user_path(User.find(appointment.user_id)), class: "badge badge-pill badge-info mr-1" %></td>
                <% if current_doctor %>
                <td><%= link_to 'Create recomendation', new_stock_path(user_id: appointment.user_id), class: "btn btn-primary", method: :create %></td>
              <% end %>
                 </tr>
      <% end %>
    </tbody>
   </table>

 </div>
</div>
      





