<h1 class="text-center mt-4">Записи</h1>
<div class="container">
<div class="flickr_pagination row justify-content-center">
  <%= will_paginate @appointments, :container => true %>
</div>
  <% @appointments.each do |appointment| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
          <strong> Дата записи: </strong> <h5 class="card-title"><%= link_to appointment.data, appointment_path(appointment), class: "text-success" %></h5>             
      <% if appointment.doctors.count == 0 %>
          <p class="card-text"><%= pluralize(appointment.doctors.count, "Doctor") %></p>
      <%else%>
         <% appointment.doctors.each do |doctor| %>
             <strong> Ваш доктор: </strong> <h5 class="card-title"><%= link_to doctor.name, doctor_path(doctor), class: "text-success" %></h5>
         <% end %>
     <% end%>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination row justify-content-center">
  <%= will_paginate @appointments, :container => true %>
</div>
</div>

