<%= render 'shared/errors', obj: @categorie %>
 <%= form_with(model: @categorie, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class="form-group row">
       <%= f.label :name, "Categorie name", class: "col-2 col-form-label text-light" %>
      <div class="col-10">
        <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
      </div>
    </div>

      <div class="form-group row">
        <%= f.label :doctor, class: "col-2 col-form-label text-light" %>
        <div class="col-10"> 
          <%= f.collection_select(:doctor_ids, Doctor.all, :id, :name,
          { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
        </div>
      </div>

  <div class="form-group row justify-content-center">
    <%= f.submit class: "btn btn-outline-light btn-lg" %>
  </div>
<% end %>