<h1 class="text-center mt-4">Categorie: <%= @categorie.name %></h1>

<% if user_signed_in? && current_user.role == "admin" %>
  <div class="text-center mt-4">
    <%= link_to "Edit category name", edit_category_path(@categorie), class: "btn btn-outline-info" %>
    <%= link_to "Delete", category_path(@categorie), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<h3 class="text-center mt-4">Doctors</h3>

<div class="flickr_pagination">
  <%= will_paginate @doctors, :container => false %>
</div>

<%= render 'doctors/doctor' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @doctors, :container => false %>
</div>